/* 確認ボタンのラッパー（中央寄せ） */
.confirmWrapper {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  gap: 2.5rem;
}

/* 戻るボタン*/
.backButton {
  padding: 0.6rem 1.2rem;
  border: 2px solid #999;
  border-radius: 4px;
  background-color: white;
  color: #333;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.backButton:hover {
  background-color: #999;
  color: white;
}

/* 送信ボタン*/
.sendButton {
  padding: 0.6rem 1.8rem;
  border: 2px solid #0070f3;
  border-radius: 6px;
  background-color: white;
  color: #0070f3;
  font-weight: 600;
  cursor: pointer;
}

.sendButton:hover {
  background-color: #0070f3;
  color: white;
}

.table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 1rem;
  table-layout: fixed;
}

.table th,
.table td {
  border: 1px solid #999;
  padding: 0.4rem 0.8rem;
  text-align: left;
}

.table th {
  background-color: #dbeadf;
  user-select: none;
}
